html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Roboto', 'San Francisco', 'Helvetica', 'Segoe UI';
    overflow: hidden;
}

textarea,
select,
input,
button {
    outline: none;
}

#map {
    height: 100%;
    width: 100vw;
}

.leaflet-popup-pane {
    z-index: 9000;
}

.description {
    margin-block-start: 4px !important;
    margin-block-end: 4px !important;
    padding-right: 8px !important;
    padding-left: 0 !important;
}

.leaflet-container a.leaflet-popup-close-button {
    font-size: 24px;
}

.point-description {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.point-description img {
    width: 17px;
    height: 17px;
    margin-right: 5px;
}

.point-description img.gif {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    margin-left: 1px;
}

.description li {
    line-height: 20px;
}

.leaflet-div-icon {
    background-color: transparent !important;
    border-color: transparent !important;
}

.f0-visits {
    max-height: 200px;
    overflow: auto;
}

.cluster {
    width: 22px;
    height: 22px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    margin-left: -6px;
    margin-top: -6px;
}

.cluster div {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.cluster.f0 {
    background-color: red;
}

.cluster.f0 div {
    background-color: red;
    color: rgba(255, 255, 255, 0.87);
}

.cluster.f1 {
    background-color: rgb(255, 153, 1, .5);
}

.cluster.f1 div {
    background-color: rgb(255, 153, 1);
}

.cluster.f2 {
    background-color: rgba(255, 242, 124, .5);
}

.cluster.f2 div {
    background-color: rgb(255, 242, 124);
}

.cluster.f345 {
    background-color: rgb(117, 222, 255, .5);
}

.cluster.f345 div {
    background-color: rgb(117, 222, 255);
}

.f0-visit-description {
    max-height: 200px;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 5px;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .3);
    border-radius: 10px;
}

.vietnam {
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vietnam img {
    width: 25px;
    opacity: .8;
}

.leaflet-container .leaflet-tile-pane img {
    filter: grayscale(.4);
}

.f0new-cluster {
    border-radius: 50%;
    /* border: 1px solid white; */
    position: relative;
    background-color: transparent;
}

.f0new-cluster:before {
    animation: pulseWarning 1.2s linear infinite;
    background-color: #fff;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
}

.f0new-cluster:after {
    background-color: red;
    border-radius: 50%;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.f0new-cluster div {
    z-index: 2;
    color: white;
}

.scaleWarning {
    animation: scaleWarning 0.75s infinite alternate;
}

@keyframes scaleWarning {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pulseWarning {
    0% {
        background-color: red;
        transform: scale(1);
        opacity: 0.5;
    }
    30% {
        background-color: red;
        transform: scale(1);
        opacity: 0.8;
    }
    100% {
        background-color: red;
        transform: scale(2);
        opacity: 0;
    }
}

path.leaflet-interactive {
    animation: outbreak 0.75s infinite;
}

@keyframes outbreak {
    0% {
        opacity: 0.75;
    }
    10% {
        opacity: 0.80;
    }
    20% {
        opacity: 0.85;
    }
    30% {
        opacity: 0.90;
    }
    40% {
        opacity: 0.95;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0.95;
    }
    70% {
        opacity: 0.90;
    }
    80% {
        opacity: 0.85;
    }
    90% {
        opacity: 0.80;
    }
    100% {
        opacity: 0.75;
    }
}

.search-box {
    width: calc(100% - 20px);
    background-color: #fff;
    left: 10px;
    margin: auto;
    position: absolute;
    top: 12px;
    z-index: 1000001;
    /* padding: 8px 10px; */
    border-radius: 5px;
    border: none;
    box-shadow: 0 0px 0px rgba(0, 0, 0, .36), 0 0px 5px rgba(0, 0, 0, 0.43);
    display: flex;
    align-items: center;
}

.search-box.in-search {
    box-shadow: none;
}

.search-box .back-icon {
    font-size: 20px;
    font-weight: bold;
    padding: 8px 0 5px 12px;
    color: rgba(0, 0, 0, 0.6);
    display: none;
}

.search-box input {
    border: none;
    width: calc(100% - 45px);
    padding: 11px 0 10px 10px;
    border-radius: 4px;
}

#searchResult {
    width: 100%;
    height: 100%;
    z-index: 1000000;
    position: absolute;
    background: #fff;
    padding-top: 60px;
    font-size: 14px;
    display: none;
}

.search-group {
    margin: 0 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 10px;
}

.search-group .group-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px !important;
    color: rgba(0, 0, 0, 0.5);
}

.search-group .result-row {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.search-group .result-row .f0-name {
    font-size: 13px;
    padding-bottom: 6px;
}

.search-group .result-row .f0-address {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.7);
    padding-bottom: 6px;
}

.info-box {
    min-height: 1000px;
    position: absolute;
    width: 100%;
    top: 500px;
    background-color: #fff;
    z-index: 1000000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 1px solid #ddd;
    padding-top: 8px;
}

.info-box-toggle {
    margin-top: 40px;
    width: 32px;
    height: 4px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.20);
    margin: 0 auto;
}